@import url("colors-matugen.css");

window {
  background-color: var(--wofi-bg);
}

* {
  font-family: "Jetbrains Mono";
  color: var(--wofi-text);
}

#scroll {
  padding: 0.5rem;
}

#input {
  background-color: var(--wofi-surface);
  color: var(--wofi-text);
  outline: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  font-size: 1rem;
  padding: 0.5rem;
}

#inner-box {
  margin: 0.5rem;
  font-size: 1rem;
}

#img {
  margin: 10px 10px;
}

#entry {
  border-radius: 0.5rem;
}

#entry:selected {
  background-color: var(--wofi-primary);
  outline: none;
}

#text:selected {
  color: var(--wofi-on-primary);
}
